.container
  =render 'task', tasks: @tasks, board: @board
  - @comments.each do |comment|
    =render 'comment', comment: comment
  .newcomment 
    %p= link_to '+Add new comment', new_board_task_comment_path(@board, @tasks)

