.container 
  %h2.card-logo Brackets
  .card_task
    .card_text
      .card_title 
      = @board.title
    .card_content
      = @board.content
    .card_image
      = image_tag 'default-user.png', class: 'user_avatar dropbtn'
  - @tasks.each do |task|
    =render 'task', task: task
  .newtask 
    %p= link_to '+Add new card', new_board_task_path(@board)