.newtask {
  border-radius: 10px;
  border: 2px dotted #333;
  border-color:#F4F4F4;
  padding: 20px 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
}

.card_task {
  background: #F4F4F4;
  border-radius: 10px;
  border: none;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 10px;
}

.task-logo {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// コメント
.task-card {
  opacity: 1;
}

.comment-logo {
  font-size: 25px;
  margin-bottom: 15px;
}

.comment-text {
  display: flex;
  gap: 10px;
}

.comment-text {
  display: flex;
  align-items: center;
}

.comment-content {
  /* Successful businesse */

// position: absolute;
// width: 298px;
// height: 57px;
// left: 86px;
// top: 677px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #000000;
}

.newcomment {
  margin-top: 20px;
}