.newtask {
  border-radius: 10px;
  border: 2px dotted #333;
  border-color:#F4F4F4;
  padding: 20px 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
}

.card_task {
  background: #F4F4F4;
  border-radius: 10px;
  border: none;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 10px;
}